In [ ]:
import sys
sys.path.append('../')
from util.utils import *

In [96]:
def bimtra_dataPipeline():
    df = openDataframe("bimtra_silver.csv")
    df = removeDuplicatesRows(df)
    
    #saveDataframe(df, "bimtra_gold.csv")
    return df

df = bimtra_dataPipeline()
df.head()

,flightid,origem,destino,dt_dep,dt_arr,dt_dep_formatted,dt_arr_formatted
0,fcb2bf90345705318213ae1307c0f901,SBKP,SBRJ,1654044297000,1654046760000,"Tuesday, May 31, 2022 09:44:57","Tuesday, May 31, 2022 10:26:00"
1,c7c5c10716335b048f86d8c52fcba3f2,SBGR,SBRJ,1654045021000,1654047173000,"Tuesday, May 31, 2022 09:57:01","Tuesday, May 31, 2022 10:32:53"
2,3162de7203a972f071d5a48e8f0f4828,SBBR,SBRJ,1654043212000,1654047825000,"Tuesday, May 31, 2022 09:26:52","Tuesday, May 31, 2022 10:43:45"
3,8fcd243e9b9eebbe62ab145ce04b6ab5,SBKP,SBCF,1654045120000,1654047701000,"Tuesday, May 31, 2022 09:58:40","Tuesday, May 31, 2022 10:41:41"
4,504a62621cd231d6ab67e674ce538cd3,SBCF,SBFL,1654045238000,1654050785000,"Tuesday, May 31, 2022 10:00:38","Tuesday, May 31, 2022 11:33:05"